.header{
    background: black;
    position: fixed;
    z-index: 2;
    width: 100%;
}

/* Navbar */

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.navbar__list{
    padding-left: 0px;
}

.navbar__list-item--other,
.navbar__list-item{
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 0px 8px;
    margin-left: -3px;
}

.navbar__icons{
    font-size: 16px;
    margin-top: 2px;
    padding: 0px 5px;
}

.navbar__icons:hover,
.navbar__list-item:hover{
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.navbar__list-item--border-right{
    border-right: 2px solid rgba(255, 255, 255, 0.397);
}

.show-QR:hover .navbar__QR{
    opacity: 1;
    cursor: default;
    visibility: inherit;
}

.navbar__QR{
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    border-radius: 10px;
    margin-top: 10px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navbar__QR::before{
    content: "";
    position: absolute;
    height: 10px;
    width: 45%; 
    top: -10px;
    left: 0px;
}

.navbar__code-QR img{
    height: 190px;
    padding: 15px 15px 5px;
}

.navbar__app-download{
    display: flex;
    justify-content: space-around;
    margin-right: 5px;
    margin-left: 3px;
    margin-bottom: 5px;
}

.navbar__app-download img{
    height: 35px;
}

.navbar__app-download img:hover{
    cursor: pointer;
}

.show-notification:hover .navbar__notification{
    transform: scale(1);
    cursor: default;
}

.navbar__notification{
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    right: 0px;
    min-width: 370px;
    margin-top: 10px;
    border-radius: 10px;
    transform: scale(0);
    transition: 0.2s ease-in-out;
    transform-origin: 87% top;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
} 

.navbar__notification::before{
    position: absolute;
    content: "";
    height: 10px;
    width: 25%;
    top: -10px;
    right: 0px;
}

.header-notification::before{
    content: "";
    position: absolute;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 25px;
    top: -25px;
}

.body-notification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    color: var(--text-color);
    text-align: center;
}

.body-notification img{
    height: 130px ;
    margin-bottom: 5px;
}

.footer-notification{
    display: flex;
}

.notification__button{
    background-color: rgb(224, 224, 224);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
}

.notification__button--sign-up{
    border-radius: 0px 0px 0px 10px;
}
.notification__button--log-in{
    border-radius: 0px 0px 10px;
}

.notification__button:hover{
    background-color: rgb(206, 206, 206);
    color: #8b8ef8;
}

/* Modal */

.modal-inner{
    padding: 20px 30px 20px;
}

.close-modal{
    text-align: right;
}

.close-modal i{
    padding: 5px;
    font-size: 3rem;
    margin-right: -10px;
    margin-top: -5px;
}

.close-modal i:hover{
    color: var(--orange-color);
    cursor: pointer;
}


.modal-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    margin-bottom: 30px;
}

.modal-header__name-form{
    font-size: 3rem;
    font-weight: 500;
}

.modal-header__login-signup{
    font-size: 1.7rem;
    font-weight: 600;
    margin-right: 30px;
}

.modal-header__login-signup a{
    text-decoration: none;
    color: var(--orange-color);
}

.modal-body__input{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    border: solid 1px rgba(128, 128, 128, 0.5);
    border-radius: 1px;
    font-size: 1.5rem;
}

.modal-rule{
    font-size: 1.15rem;
    font-weight: 500;
    margin: 5px;
    margin-bottom: 50px;
    text-align: center;
    max-width: 420px;
    
}

.modal-rule a{
    color: var(--orange-color);
    text-decoration: none;
}

.modal-rule a:hover{
    opacity: 0.8;
    text-decoration: underline;
}

.modal-body__helps{
    text-align: right;
    margin-bottom: 50px;
}

.modal__forgot-password,
.modal__need-help{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.modal__forgot-password:hover,
.modal__need-help:hover{
    text-decoration: underline;
}

.modal__forgot-password{
    padding: 0px 8px;
    border-right: solid 1px rgba(0, 0, 0, 0.3);
    color: var(--orange-color);
}


.modal__need-help{
    padding-left: 6px;
    color: #666;
}

.modal__submit{
    width: 170px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--orange-color);
    padding: 13px;
    text-align: center;
    margin: auto;
    border-radius: 3px;
}

.modal__submit:hover{
    cursor: pointer;
    opacity: 0.8;
}

.modal-footer{
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 5px 15px 10px;
}

.modal__login-facebook,
.modal__login-google{
    display: flex;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    width: 100%;
    justify-content: center ;
    line-height: 2;
}

.modal__login-facebook:hover,
.modal__login-google:hover{
    cursor: pointer;
    opacity: 0.8;
}

.modal__login-facebook{
    color: var(--white-color);
    background-color: #124fa0;
}

.modal__login-facebook i{
    font-size: 25px;
    margin-right: 10px;
}

.modal__login-google{
    background-color: var(--white-color);
}

.modal__login-google img{
    position: relative;
    height: 25px;
    margin-right: 10px;
}

/* Hearder Search */
.header-search{
    display: flex;
    justify-content: space-between;
    padding: 10px auto !important;
}

.header-search__logo,
.header-search__cart{
    display: flex;
    align-items: center;
    flex: 1;
    color: var(--white-color);
    text-shadow: 2px 2px gray;
}

.header-search__logo{
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 3rem;
}

.header-search__logo:hover{
    cursor: pointer;
}

.header-search__logo img{
    height: 85px;
}

.header-search__search-box{
    margin: auto;
    flex: 4;
    background-color: var(--white-color);
    height: 50px;
    border-radius: 3px;
}

.search-box{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.search-box__wrap{
    position: relative;
    flex: 1;
    height: 100%;
}

.search-box__input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.7rem;
    padding-left: 15px;
    border-radius: 3px;
}

.search-box__input:focus ~ .search-box__history{
    display: block;
}
.search-box__history{
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    width: 100%;
    top: 55px;
    border-radius: 3px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.search-box__history p{
    color: var(--text-lightgray);
    font-size: 1.7rem;
    padding: 10px;
    margin: 0px;
}

.search-box__history ul{
    padding: 0px;
    margin: 0px;
}

.search-box__history li{
    font-size: 1.5rem;
    padding: 10px;
    padding-left: 30px;
}

.search-box .select{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--text-color);
    position: relative;
}

.search-box .select:hover{
    cursor: pointer;
}

.search-box .select > span{
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    line-height: 3.5rem;
    padding: 0px 10px;
}

.search-box .select i{
    font-size: 2.3rem;
    padding: 0px 5px;
}

.search-box .select:hover .option{
    display: block;
}
.search-box .option{
    position: absolute;
    background-color: var(--white-color);
    right: -10px;
    top: 100%;
    width: 160px;
    padding: 0px;
    font-size: 1.5rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: none;
    animation: kf-opacity ease .2s;
}

.search-box .option::before{
    content: "";
    position: absolute;
    right: 0px;
    top: -20px;
    width: 100%;
    height: 20px;
}

.search-box .option li{
    padding: 10px;
}

.search-box .option i{
    position: absolute;
    right: 10px;
    font-size: 1.5rem;
    color: var(--blue-color);
}

.search-box__search-icon{
    display: flex;
    padding: 0px 30px;
    align-items: center;
    height: 40px;
    background-color: var(--blue-color);
    margin: 5px;
    border-radius: 3px;
    font-size: 1.5rem;
    color: var(--white-color);
}


.header-search__cart{
    justify-content: center;
    font-size: 4.5rem;
}

.cart-icon{
    position: relative;
}

.notification-box{
    text-shadow: none;
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    right: -15px;
    min-width: 370px;
    margin-top: 10px;
    border-radius: 10px;
    transform: scale(0);
    transition: 0.2s ease-in-out;
    transform-origin: 90% top;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cart-icon:hover .notification-box{
    transform: scale(1);
}

.notification-box::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20%;
    top: -20px;
    right: 0px;
}

.header-notification-box::before{
    content: "";
    position: absolute;
    top: -25px;
    right: 15px;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.body-notification-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    color: var(--text-color);
    text-align: center;
    font-size: 1.5rem;
}

.body-notification-box img{
    height: 130px ;
    margin-bottom: 5px;
}

.header-search__cart i:hover{
    cursor: pointer;
}

/* Container */
/* nav */
.container{
    background-color: var(--background-color-lightgray);
    padding-top: 150px;
}

.category{
    background-color: var(--white-color);
    height: 900px;
}

.category img{
    width: 100%;
}

.category-name-shop{
    text-align: center;
    text-shadow: 2px 2px tomato;
    margin-bottom: 20px;
}

.header-category{
    padding: 0px 15px;
}

.header-category i{
    padding-right: 7px;
}

.header-category p{
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--blue-color);
}

.body-category{
    padding: 0px 15px;
}

.product-list{
    padding: 0px;
}

.product-list li{
    border-top: solid 1px var(--text-lightgray);
    font-size: 1.5rem;
    color: var(--text-color);
}

.product-list li a{
    position: relative;
    right: 0px;
    transition: linear 0.2s;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.product-list li a:hover{
    color: var(--blue-color);
    right: -5px;
}

/* filter */
.home-filter{
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    font-size: 1.5rem;
    border-radius: 3px;
    color: var(--text-color);
    margin-bottom: 5px;
    margin-left: 10px;

}

.filter-left,
.filter-right{
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.filter-left button{
    padding: 7px 15px;
    border-radius: 3px;
    margin: 0px 5px;
}

.filter-left .btn-hightlight{
    background-color: var(--blue-color);
    color: var(--white-color);
}

.filter-left button:hover{
    background-color: var(--blue-color);
    color: var(--white-color);
}

.filter-cost:hover .cost{
    display: block;
}

.filter-cost{
    display: flex;
    justify-content: space-around;
    padding: 7px 0px;
    width: 170px;
    border: solid 1px var(--blue-color);
    border-radius: 3px;
    margin-left: 5px;
    position: relative;
}

.filter-cost:hover{
    cursor: pointer;
}

.cost{
    position: absolute;
    background-color: var(--white-color);
    right: 0px;
    top: 20px;
    width: 170px;
    padding: 0px;
    font-size: 1.5rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: none;
    animation: kf-opacity ease .2s;
}

.cost::before{
    content: "";
    position: absolute;
    right: 0px;
    top: -20px;
    width: 100%;
    height: 20px;
}

.cost li{
    padding: 10px;
}

.cost i{
    position: absolute;
    right: 15px;
    color: var(--blue-color);
}

.filter-right button{
    padding: 7px 15px;
    margin-left: 10px;
    border-radius: 3px;
}

.filter-right button:hover{
    color: var(--white-color);
    background-color: var(--blue-color);
}

/* Product */
.img-product{
    width: 100%;
    height: 150px;
}

.content-product{
    padding: 8px;
    font-size: 1.2rem;
}

.name-product{
    margin: 5px 0px;
}

.deal-span{
    display: inline;
    padding: 1px 5px;
    color: red;
    border: solid 1px red;
}

.cost-span{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
}

.root-cost{
    text-decoration: line-through;
    color: var(--text-lightgray);
}

.current-cost{
    margin-left: 5px;
    font-size: 1.5rem;
    color: var(--blue-color);
    font-weight: bold;
}

.evaluate-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.evaluate-product > i{
    font-size: 1.5rem;
    margin-left: 5px;
}

.star-icon{
    color: #ffd839;
    font-size: 1rem;
}

.sold-product{
    display: inline;
    margin-left: 3px;
}

.local-product{
    text-align: right;
    color: var(--text-color);
    margin: 5px 0px 3px;
}

.home-product{
    margin-left: 10px;
}

.home-product__favorite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 0px 2px 2px 0px;
    font-size: 1.2rem;
    width: 75px;
    transition: ease .3s;
    line-height: 1.8rem;
}

.home-product__favorite::before{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    border-top: solid var(--blue-color);
    border-left: solid 4px transparent;
    filter: brightness(60%);
}

.home-product__favorite:hover{
    cursor: pointer;
    width: 100px;
}

.home-product__favorite i{
    font-size: .9rem;
    margin-left: 7px;
}

.home-product__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffd839;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    font-size: 1.3rem;
    border-top-right-radius: 3px;
}

.home-product__sale-off::before{
    content: "";
    position: absolute;
    top: 100%;
    border-width: 0px 20px 5px;
    border-style: solid;
    border-color: transparent #ffd839 transparent;
}

.home-product__sale-off-percent{
    margin-top: 3px;
    color: red;
}

.home-product__sale-off-label{
    color: white;
}

/* Pahination */
.pagination{
    margin: 50px 0px 30px;
}

.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--text-color);
}

.pagination-container li{
    margin: 0px 15px;
    padding: 8px 15px;
    border-radius: 3px;
}

.pagination-item-choose{
    color: var(--white-color);
    background-color: var(--blue-color);
}

.pagination-item-choose:hover{
    background-color: var(--light-blue-color);
    cursor: pointer;
}

/* Footer */
.footer{
    border-top: solid 5px var(--blue-color);
}

.start-footer{
    background-color: var(--background-color-gray);
    padding: 30px 0px;
}

.footer__list{
    padding: 0px;
    font-size: 1.2rem;
}

.footer__list-content{
    padding: 5px 0px;
}

.footer__list-link:hover{
    color: var(--blue-color);
}

.footer__list-link i{
    font-size: 1.7rem;
    margin-right: 10px;
}

.footer__download-app{
    display: flex;
}

.footer__QR{
    background-color: white;
    flex: 1;
}

.footer__QR img{
    width: 100%;
}

.footer__app-stort{
    flex: 1;
}

.footer__app-stort img{
    width: 100%;
}  

.footer__app-stort img:hover{
    cursor: pointer;
}  

.copyright{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
}